@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --black: #19171c;
  --black-75: #19171cbf;
  --black-50: #19171c80;
  --black-25: #19171c40;
  --black-10: #19171c1a;
  --black-5: #19171c0d;

  --white: #e5e3e8;
  --white-75: #e5e3e8bf;
  --white-50: #e5e3e880;
  --white-25: #e5e3e840;
  --white-10: #e5e3e81a;
  --white-5: #e5e3e80d;

  --primary-color: #492b7c;
  --primary-color-50: #492b7c80;
  --primary-color-light: #6038a3;

  --success: #1f810e;
  --success-dark: #165c0a;
  --success-light: #2db814;
  --error: #721d1d;
  --quick-animation: 0.2s;
  --normal-animation: 0.8s;
  --spacing: 0.5rem;
  --loader-animation: 1.2s;
  --button-depth: 0.5rem;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--black);
  font-family: Poppins;
  color: var(--text-light);
}

ul {
  padding-left: 0;
}

#canvas-container {
  display: grid;
  place-items: center;
}

header {
  background-color: var(--primary-color);
  color: var(--white);
  height: 2rem;
  display: none;
  align-items: center;
  justify-content: space-between;
}

header>i:hover {
  cursor: pointer;
}

#room-id {
  margin-top: 1rem;
  z-index: 1;
}

.centered-text {
  display: grid;
  place-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

input {
  border: none;
  border-radius: 4px;
  background-color: var(--white-25);
  text-transform: capitalize;
  color: var(--white);
  outline: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Poppins;
  border: 1px solid var(--white);
  padding: 0 0.5rem;
  height: 30px;
}

input:disabled {
  color: var(--white-50);
}

input:disabled:hover {
  cursor: not-allowed;
}

button {
  position: relative;
  border: none;
  outline: none;
  color: var(--white);
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(calc(var(--button-depth) * -0.5));
  transition: transform var(--quick-animation), border-bottom-left-radius var(--quick-animation), border-bottom-right-radius var(--quick-animation);
}

button.success::after {
  content: "";
  height: var(--button-depth);
  background-color: var(--success-dark);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(var(--button-depth)) scaleY(1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform-origin: bottom;
  transition: transform var(--quick-animation);
}

button.primary:disabled {
  transform: none;
  background-color: var(--white-50);
}

button.primary:disabled:hover {
  cursor: not-allowed;
}

button.primary::after {
  content: "";
  height: var(--button-depth);
  background-color: var(--primary-color-50);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(var(--button-depth)) scaleY(1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform-origin: bottom;
  transition: transform var(--quick-animation);
}

button.primary:disabled::after {
  height: 0;
}

#rooms li {
  list-style: none;
  background-color: var(--primary-color-50);
  border-radius: 4px;
}

#rooms .spot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid white;
}

#rooms .occupied {
  background-color: white;
}

#rooms .free {
  background-color: transparent;
}

#rooms .room-full div + button {
  background-color: #210136;
  color: #808080;
}

#login-card {
  border-radius: 5px;
  background-color: var(--lighter-grey);
  color: var(--text-dark);
}

.chat-message span:first-child {
  width: 8rem;
  display: inline-block;
}

.chat-message .message {
  color: var(--text-secondary);
}

.loader::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid transparent;
  border-top: 0.25rem solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin var(--loader-animation) linear infinite;
}

#message-content {
  width: 100%;
  border-radius: 0;
}

#message-content + button {
  transform: none;
  border-radius: 0;
}

#chat-messages {
  max-height: 8rem;
  overflow-y: scroll;
  background-color: var(--grey);
}

#chat-messages .chat-message:first-of-type {
  margin-top: 0.5rem;
}

#chat-messages .chat-message:last-of-type {
  margin-bottom: 0.5rem;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#room-screen #room-information {
  background-color: var(--white-5);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#room-screen #room-information #room-players {
  border-bottom: 1px solid var(--white-25);
}