@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --text-light: #b3b3b3;
  --primary-color: #452685;
  --primary-color-darken: #3d2273;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #0d0d0d;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-light);
}

#canvas-container {
  display: grid;
  place-items: center;
}

header {
  background-color: #3d3e51;
  color: var(--text-light);
  height: 4rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

#room-id {
  margin-top: 1rem;
  z-index: 1;
}

.centered-text {
  display: grid;
  place-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#game-screen {
  display: none;
}

#lobby-screen {
  display: none;
  justify-content: start;
  align-items: center;
  height: calc(100vh - 4rem - 2rem);
  flex-direction: column;
}

input {
  font-size: 1.75rem;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #333333;
  color: var(--text-light);
  padding: 0.5rem 0.75rem;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 15rem;
}

#username-input + button {
  border: none;
  outline: none;
  text-transform: uppercase;
  color: var(--text-light);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0px 0.75rem;
  font-size: 1.1rem;
}

#rooms li {
  list-style: none;
  display: flex;
  align-items: center;
}

#rooms li div {
  text-transform: uppercase;
  font-family: Arial;
  font-size: 2rem;
  background-color: #410169;
  padding: 0.5rem;
  color: var(--text-light);
  margin: 0.75rem 0;
  width: 32rem;
  letter-spacing: 0.1rem;
}

#rooms li div + button {
  background: #1D750D;
  border: none;
  outline: none;
  color: var(--text-light);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: Arial;
  padding: 1.05rem 0.5rem;
  height: 100%;
}

#create-room-button {
  border: none;
  outline: none;
  text-transform: uppercase;
  color: var(--text-light);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
}

#rooms .room-full div+button {
  background-color: #210136;
  color: #808080;
}

#landing-screen {
  height: 100vh;
}

#login-card {
  border-radius: 5px;
  background-color: #191919;
}