.mt-1 {
  margin-top: var(--spacing);
}

.gap-1 {
  gap: 0.5rem;
}

.gap-3 {
  gap: calc(var(--spacing) * 3);
}
.mb-0 {
  margin-bottom: 0;
}

.pa-1 {
  padding: var(--spacing);
}

.mx-1 {
  margin-right: var(--spacing);
  margin-left: var(--spacing);
}

.ml-2 {
  margin-left: calc(var(--spacing) * 2);
}

.mx-2 {
  margin-right: calc(var(--spacing) * 2);
  margin-left: calc(var(--spacing) * 2);
}

.mt-2 {
  margin-top: calc(var(--spacing) * 2);
}

.mt-3 {
  margin-top: calc(var(--spacing) * 3);
}

.mr-1 {
  margin-right: var(--spacing);
}

.mt-4 {
  margin-top: calc(var(--spacing) * 4);
}

.mt-6 {
  margin-top: calc(var(--spacing) * 6);
}

.mb-6 {
  margin-bottom: calc(var(--spacing) * 6);
}

.mb-1 {
  margin-bottom: var(--spacing);
}

.mb-3 {
  margin-bottom: calc(var(--spacing) * 3);
}

.mb-4 {
  margin-bottom: calc(var(--spacing) * 4);
}

.mb-5 {
  margin-bottom: calc(var(--spacing) * 5);
}

.mt-5 {
  margin-top: calc(var(--spacing) * 5);
}

.mb-8 {
  margin-bottom: calc(var(--spacing) * 8);
}

.pa-2 {
  padding: calc(var(--spacing) * 2);
}

.d-flex {
  display: flex;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.weight-500 {
  font-weight: 500;
}

.mb-2 {
  margin-bottom: calc(var(--spacing) * 2);
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

input {
  flex-grow: 1;
}

button.success {
  background: var(--success);
  color: var(--text-light);
}

button.error {
  background-color: var(--error);
  color: var(--text-light);
  border-radius: 5px;
  transform: none;
}

button.primary {
  background-color: var(--primary-color);
  color: var(--white);
}

button.primary:hover {
  background-color: var(--primary-color-light);
}

button.primary:active {
  transform: translateY(calc(var(--button-depth) * 0.5));
  background-color: var(--primary-color-light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform var(--quick-animation), border-bottom-left-radius var(--normal-animation), border-bottom-right-radius var(--normal-animation);
}

button.success:hover {
  background-color: var(--success-light);
}

button.success:active {
  transform: translateY(calc(var(--button-depth) * 0.5));
  background-color: var(--success-light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform var(--quick-animation), border-bottom-left-radius var(--normal-animation), border-bottom-right-radius var(--normal-animation);
}

button.success:active::after {
  transform: translateY(0) scaleY(0);
}

button.primary:active::after {
  transform: translateY(0) scaleY(0);
}

.clickable:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1 1 0%;
}

.px-1 {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.px-2 {
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
}

.px-3 {
  padding-left: calc(var(--spacing) * 3);
  padding-right: calc(var(--spacing) * 3);
}

.py-2 {
  padding-top: calc(var(--spacing) * 2);
  padding-bottom: calc(var(--spacing) * 2);
}

.align-self-start {
  align-self: start;
}

/* xs */
@media (width <= 600px) {
  .xs-px-5 {
    padding-left: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 5);
  }

  .xs-align-self-center {
    align-self: center;
  }
}

/* sm */
@media (600px <= width <= 960px) {
}

/* md */
@media (960px <= width <= 1280px) {
}

/* lg */
@media (1280px <= width <= 1920px) {
  .lg-px-5 {
    padding-left: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 5);
  }

  .lg-mx-5 {
    margin-left: calc(var(--spacing) * 5);
    margin-right: calc(var(--spacing) * 5);
  }

  .lg-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-white {
  color: var(--white);
}

.text-white-75 {
  color: var(--white-75);
}

.text-white-50 {
  color: var(--white-50);
}
 
.bottom-action-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.flex-basis-16 {
  flex-basis: calc(var(--spacing) * 16);
}